<h1>Hello World</h1>
<form action="/urls" method ="post">
	Enter URL:
	<input type ="text" name ="long_url">
	<input type ="submit" value ="Submit">
</form>

<% @url.each do |item| %>
<a href ="http://localhost:9393/<%=item.shorturl %>">
	<p>localhost:9393/<%= item.shorturl%></p>
	<p> <%=item.clickcount%> </p>
</a>
<% end %>